body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: darkorange;
}


header {
    background: #333;
    color: red;
    padding: 10px 0;
    text-align: center;
}
.my-header h1 {
top: 1000px;
color: green;
}

#skills{
    position: absolute;
    top: 115px;
    left: 0;
    text-align: center;
    width: 15%;
    height: 250px;
    border: none;
}

#skills > ul {
    list-style: none;
    padding: 0;
}

#about-me{
    position: absolute;
    top: 115px;
    left: 0;
    text-align: center;
    width: 65%;
    height: 400px;
    margin-left: 310px;
    border: 3px solid red;
}
#profile-photo{
    position: absolute;
    top: 115px;
    width: 10%;
    margin-left: 87%;
    border: none;
    text-align: center;
}
.profile-image{
    width: 100%;
    height: 200px;
    margin-left: 0px;
}


#contact{
    margin-top: 400px;
    height: 200px;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

#nav-links {
    position: absolute;
    top: 50px;
    right: 0;
    width: 400px;
    height: 50px;
    border: 3px solid #333;
  }


footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    /* position: relative; */
    bottom: 0%;
    width: 100%;
}
